<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.0" data-semver="1.4.0" src="https://code.angularjs.org/1.4.0/angular.min.js" defer></script>
    <script src="script.js" defer></script>
	
	<title>Amortization Calculator</title>
	<meta name="description" content="Calculate your loan repayment schedule" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>

  <body data-ng-app="amortApp" data-ng-controller="amortCtrl">
  
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li>
				<iframe src="https://ghbtns.com/github-btn.html?user=geofreyflores&repo=amortcalc&type=star&count=true" 
					frameborder="0" scrolling="0" width="60px" height="20px"></iframe>
			</li>
			<li>
				<a href="https://twitter.com/geofreyflores" class="twitter-follow-button" data-show-count="false">Follow @geofreyflores</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container">
      
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>Amortization Calculator</h1>
            <p class="lead">Calculate your loan repayment schedule</p>
          </div>
        </div>
      </div>
      
      <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
          
          <div id="summary" class="row">
            <h2>Payment Summary</h2>
            <p>You have a total of <span class="text-warning">{{ info.numPeriods | number }} {{ info.frequencyTxt | lowercase }} payments</span> 
            of <span class="text-warning">{{ info.paymentAmt || 0 | currency }}</span><span data-ng-hide="inputFields.freq.value === 12">, or 
            <span class="text-warning">{{ info.monthlyPayment || 0 | currency }}/month</span></span>.</p>
			<p>You pay {{ info.monthlyInterest || 0 | currency }} in interest, on average, every month.</p>
            <p>You save <span class="text-warning">{{ info.savingsPerYr || 0 | currency }}/year</span> 
			in interest over the life of the loan compared to a monthly payment.</p>
            <p>You have a total loan payment of <span class="text-warning">{{ info.totalPayment || 0 | currency }}</span> 
            and accrue a total interest of <span class="text-warning">{{ info.totalInterest || 0 | currency }} ({{ info.totalIntPercentage | number:2 }}%)</span> over the life of the loan.</p>
          </div>
          
          
          <div id="info" class="row">
            <h2>About your loan</h2>
            <div class="form-group" data-ng-repeat="(id, data) in inputFields" data-ng-switch="data.type">
              <label for="{{id}}" class="col-lg-6 control-label">{{ data.label }}:</label>
              
              <div class="col-lg-5">
                <input data-ng-switch-when="NUMBER" 
                  id="{{id}}" type="number" class="form-control" 
                  data-ng-model="data.value"
                  data-ng-model-options="{ debounce: debounce }">
                  
                <select data-ng-switch-when="SELECT"
                  id="{{id}}" data-ng-model="data.value" class="form-control"
                  data-ng-options="opt.value as opt.text for opt in data.options"></select>
              </div>
            </div>
          </div>
        </div>
        
        <div id="schedule" class="col-lg-7 col-md-7 col-sm-7">
          <h2>Payment Schedule</h2>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th id="payment">#</th>
              <th id="amount">Payment </th> 
              <th id="interest">Interest</th>
              <th id="principal">Principal</th>
              <th id="balance">Balance</th>
            </tr>
            </thead>
            
            <tbody>
            <tr data-ng-repeat="p in info.payments">
              <td headers="payment">{{ p.paymentIndex }}</td>
              <td headers="amount">{{ p.amount | currency }}</td>
              <td headers="interest">{{ p.interest | currency }}</td>
              <td headers="principal">{{ p.principal | currency }}</td>
              <td headers="balance">{{ p.balance | currency }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      </div>
    
    </div>
    
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-63601858-1', 'auto');
	  ga('send', 'pageview');
	</script>
  </body>
</html>
